/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}


body {
	color: #494949;
	font-family: sans-serif;
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 1024px;
}

h1 {
	font-size: 1.7em;
	color: #e24949;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	padding: 2em;
	color: #0b1c67;
}

h3 {
	font-weight: 400;
	color: #0b1c67;
}

p {
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5;
	padding-bottom: 2em;

}

header {
	padding: 1em 0;
}

header p {
	font-size: 16px;
	color: #959595;
}


img {
	max-width: 100%;
}

.clearfix {
  clear: both;
}


/* Nav Styles */


.main-nav ul {
	padding: 0;
}

.main-nav a {
	color: #494949;
	text-transform: uppercase;
	padding: 10px; 
	display: block;
    background-color: #fafafa;
	margin: 5px 10px;
	font-weight: 800;
	font-size: 0.9em;
	background-color: #fff;
}

.main-nav li {
	list-style: none;
	display: block;
}





/* Link Styles */


a {
	text-decoration: none;
}

.footer-nav a:hover,
.main-nav a:hover,
a:hover,
footer p:nth-child(n+2) a:hover
 {
	color: #48abd5;
}





/* Section Styles */

header {
	background-color: #fafafa;
}

.intro {
	padding: 0 1%;
}

.profile {
	max-width: 70%;
	margin: 40px 0;
}

main img {
	padding-bottom: 1em;
}



/* Footer styles */

.footer-links {
	color: #494949;
	text-decoration: none;
	font-weight: 800;
	list-style: none;
	font-size: 0.8em;
}

footer h2 {
	padding-top: 4em;
}

footer {
	color: #959595;
	background: url("img/background.png");
	background-color: #fafafa;
}

footer p {
	font-size: 16px;
	padding: 0 5% 50px;
}

footer p:nth-child(n+2) a{ 
	font-weight: 600;
	color: #959595;
	line-height: 2.5;
}

.footer-nav {
	display:none;
}

.footer-links {
	padding: 2em;
	border-top: solid 1px #dcdcdc;
	margin: 0 20px
}


.top a {
	float: right;
	text-transform: uppercase;
}	


/*********** Styles for 400 and up **********
******************************************/

@media screen and (min-width: 408px) {

/* Nav Styles */

header {
	background-image: url("img/background.png");
}


.main-nav li {
	display: inline;
}

.main-nav a {

	display: inline-block;
	padding: 15px;
	background: url("img/background.png");
}

main p {
	margin: 0 5%;
}

.profile {
	border: solid #fff 10px; 
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.16);
}
}

	


/*********** Styles for 768 and up **********
******************************************/

@media screen and (min-width: 768px) {


 
header .container {
	height: 400px;
	}

header p {
	float: left;
	width: 55%;
	text-align: left;
}

.main-nav ul {
	text-align: right;
}

.profile {
	width: 40%;
	padding: 0;
	float: right;
	margin-top: 20px;	
	max-width: 467px;
}

.lead-in {
	width: 47%;
	display: inline;
	float: left;
	margin: 10px;
}


footer {
	overflow: auto;
	width: 100%;
}

footer p {
	max-width: 55%;
	text-align: center;
	margin: 0 auto;
}

.top {
	display: none;
}

.footer-nav {
	display: inline;
	text-transform: uppercase; 
	margin: 0 10px;
	font-size: 0.9em;
	float: right;	
	padding-bottom: 25px;
}	

.footer-nav a {
	color: #494949;
}

.name {
	float: left;
}

.footer-nav li {
	float: left;
	list-style: none;
	margin-left: 12px;	
}

	

}	
	
	
/*********** Styles for 1024 and up ***********	
******************************************/

@media screen and (min-width: 1024px) {

.name {
	float: left;
}


header p, footer p {
	font-size: 20px;
}

.portfolio {
	overflow: auto;
}

.lead-in  {
	max-width: 31%;
	margin: 10px;
}	

.lead-in:nth-child(even) {
	clear: none;	
}
	
}
	



	
