



/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}


body {
	color: #494949;
	font-family: sans-serif;
	text-align: center;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 1024px;
}

h1 {
	font-size: 1.7em;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	padding: 2em;
}

h3 {
	font-weight: 400;
}

p {
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5;
	padding-bottom: 2em;

}

header {
	padding: 1em 0;
}

header p {
	font-size: 16px;
	color: #959595;
}


img {
	max-width: 100%;
}

.clearfix {
  clear: both;
}



/* Nav Styles */


.main-nav ul {
	padding: 0;
}

.main-nav a {
	color: #494949;
	text-transform: uppercase;
	padding: 10px; 
	display: block;
	background-color: #fff;
	margin: 5px 10px;
	font-weight: 800;
	font-size: 0.9em;
}

.main-nav li {
	list-style: none;
}





/* Link Styles */

a {
	text-decoration: none;
}



/* Section Styles */

header, footer {
	background-color: #fafafa;
}

.intro {
	padding: 0 1%;
}

.profile {
	padding: 30px 50px 10px 50px;
}


main img {
	padding-bottom: 1em;
}


/* Footer styles */

ul.footer-links li {
	color: #494949;
	text-decoration: none;
	font-weight: 800;
	list-style: none;
	font-size: 0.8em;
}

footer h2 {
	padding-top: 4em;
}

footer {
	color: #959595;
}

footer p {
	font-size: 16px;
	padding: 0 5% 50px;
}

footer p:nth-child(n+2) a{ 
	font-weight: 600;
	color: #959595;
	line-height: 2.5;
}

.footer-nav a {
	display:none;
}

.footer-links {
	padding: 2em;
	border-top: solid 1px #dcdcdc;
	margin: 0 20px
}

.footer-links .name,  .footer-links .top a {
	display: inline;
}

.footer-links .name {
	float: left;
}
.footer-links .top a {
	float: right;
	text-transform: uppercase;
}	


/*********** Styles for tablets **********
******************************************/

@media screen and (min-width: 400px) {

/* Nav Styles */


.main-nav li {
	display: inline;
}

.main-nav a {
	background-color: #fafafa;
	display: inline-block;
	padding: 15px;
}

main p {
	margin: 0 5%;
}

	


/*********** Styles for tablets **********
******************************************/

@media screen and (min-width: 768px) {


 
header .container {
	height: 400px;
	}

header p {
	float: left;
	width: 48%;
	text-align: left;
}

.profile {
	width: 48%;
	padding: 0 10px;
	float: right;
	margin-top: 20px;	
	max-width: 467px;
}

.lead-in {
	width: 47%;
	display: inline;
	float: left;
	margin: 10px;
}

.lead-in:nth-child(even) {
	clear: left;	
}

footer {
	overflow: auto;
	width: 100%;
}

.footer-nav a {
	display: inline;
	float: right;
	text-transform: uppercase;
	color: #494949; 
	margin: 0 10px;
	direction: rtl;
}	


.footer-links .top {
	display: none;
}	

}	
	
	
/*********** Styles for desktop ***********	
******************************************/

@media screen and (min-width: 1000px) {
	}
	








	
